{% extends 'base.html' %}



{% block title %}Home - Currency Exchange Bot{% endblock %}

  

{% block content %}

<div class="container mt-4"></div>

<div class="mb-6">

  {% if upcoming_appointments %}

  <section class="container" style="margin-top: 2em">

    <table class="dashboard">

      <tbody>

        <tr>

        <td><h4 class="dark-text">

          Next Appointment

        </h4>

      </td>

      <td style="width: 6%"></td>

      <td>

        <h4 class="dark-text">

          Upcoming appointments

        </h4>

      </td> 

    </tr>

    <tr>

      <td> <h3>

        {{ upcoming_appointments }}

        {{ description}}

      </h3>
      {{list_upcoming}}
        </h3>

      </td>

    </tr>

    </tbody></table>

  </section>

  {% else %}

    <p class="fancy-paragraph">No upcoming appointments available.</p>

  {% endif %}

  

{% if exchange_goal %}

<section class="container">

  <table class="dashboard">

    <tbody>

      <tr>

      <td><h4 class="dark-text">

        Objective

      </h4>

    </td>

    <td style="width: 6%"></td>

    <td>

      <h4 class="dark-text">

        Initial value in USD

      </h4>

    </td> 

  </tr>

  <tr>

    <td> <h3>
      {{last_ba;ance.currency.symbol }} +{{exchange_goal.increase|floatformat:2}}
      ({{exchange_goal.percentage}}%)

    </h3>

    </td>

    <td style="width: 6%"></td>

    </td>

    <td>

      <h3>

        {{exchange_goal.destination_currency.symbol}} {{exchange_goal.initial_value|intcomma}}
        

      </h3>
      
      </td>

  </tr>

</tbody></table>

</section>

{% endif %}

</div>

  


<div class="exchange-button">

  

  <button disabled="true" class="fancy-button">Exchange</button>

</div>

{% endblock %}